@charset "utf-8";

pre {
  background-color: initial;
  font-size: initial;
  padding:initial;
}
pre code {
  overflow: hidden;
  border-radius: 4px;
}

.new-code {
  .code-block textarea {
    height: 15rem;
  }
  form pre code {
    height: 200px;
    width: 400px;
  }
}

.show-code {
  .page-header-items {
    vertical-align: middle;
    display: inline-block;
  }
  .page-header-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0.25rem;
  }

  .code-item {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.show-code, .index-code {
  .icon-text {
    align-items: center;
  }
  .code-meta-item {
    margin: 0.25rem;
  }
}
