.pagination-previous, .pagination-next, .pagination-link {
  border: none;
  &:active {
    box-shadow: initial;
  }
  &:hover {
    background-color: #f5f5f5;
  }
}
.pagination-link.is-current {
  &:hover {
    background-color: #ebcb8b;
  }
}
@media screen and (min-width: 769px), print {
  .pagination.is-centered .pagination-previous {
    order: 0;
  }
  .pagination.is-centered .pagination-next {
    order: 0;
  }
}

.page-title {
  h1 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
}

.code-image, #code-image {
  img {
    width: 400px;
    max-width: 100%;
  }
}

