@charset "utf-8";

footer {
  background-color: #ffffff;
  padding: 1rem;

  a {
    color: #4a4a4a;
  }

  a:hover {
    color: $primary;
  }

  .social-link {
    & i {
      padding: 0.75rem;
      font-size: 1.25rem;
    }
  }
}
