@charset "utf-8";

.header{
  .header-current-user-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-family: $font-family-logo;
    font-size: 29px;
  }
}
