.welcome-items {
  .welcome-item {
    padding: 0.75rem 0;
  }
}

.welcome-title {
  font-family: $font-family-logo;
}

body, .wrapper__start, .wrapper__end {
  &.is-welcome {
    background: #88c0d0;
  }
}

