- # rubocop:disable Rails/OutputSafety
= link_to_unless current_page.last?, raw('<i class="fas fa-angle-right"></i>'), url, rel: 'next', remote: remote, class: 'pagination-next'
- # rubocop:enable Rails/OutputSafety
