@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// font
$font-family-logo: 'Fredoka One', cursive;

// colors
$text: #4a4a4a;
$text-strong: #4a4a4a;
$link: #ebcb8b;
$navbar-background-color: #88c0d0;
$navbar-item-hover-background-color: #88c0d0;
$navbar-dropdown-arrow: #f5f5f5;

@import '~bulma/bulma';

$background-color: #f5f5f5;
$code_block_height: 200px;
$code_block_width: 400px;

html {
    height: 100%;
    background-color: $background-color;
}

body {
    height: 100%;
}

main {
    background-color: #ffffff;
}

.container {
    width: 60%;
    height: 100%;
}

.header{
    &__title {
        font-family: $font-family-logo;
        font-size: 29px;
    }
}

.footer {
    background-color: #ffffff;
    padding: 1rem;
    .social-link {
        & i {
            padding: 0.75rem;
            font-size: 1.5rem;
        }
    }
}

.code-block textarea {
    max-width: initial;
    min-width: initial;
    height: $code_block_height;
    width: $code_block_width;
}
pre {
    background-color: initial;
    font-size: initial;
    padding:initial;
}
pre code {
    overflow: hidden;
    border-radius: 4px;
}

form pre code {
    height: $code_block_height;
    width: $code_block_width;
}

.header-current-user-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.a-user-icon {
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
}

.page-header-items {
    vertical-align: middle;
    display: inline-block;
}
.page-header-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0.25rem;
}
