// Place all the styles related to the code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.code-block textarea {
  height: 200px;
  width: 400px;
  max-width: initial;
  min-width: initial;
}
.code-block pre {
  background-color: initial;
  font-size: initial;
  padding:initial;
}
.code-block pre code {
  height: 200px;
  width: 400px;
}
